@model acebook.Models.Message
<h1>CONVERSATION</h1>
<h2>@ViewBag.otherUser.Name <img src="@ViewBag.currentUser.ProfileImage" width="5%" style="border-radius: 20px;"> </h2>

@foreach (Message m in ViewBag.AllMessages) 
{
  Console.WriteLine(m.User1Id);
  Console.WriteLine(m.User2Id);
    if (m.User1Id == ViewBag.currentUser.Id) 
    {
        <h5><img src="@ViewBag.currentUser.ProfileImage" width="2%" style="border-radius: 20px;"> @m.Content</h5>
    }
    else
    {
        <h5>@m.Content<img src="@ViewBag.otherUser.ProfileImage" width="2%" style="border-radius: 20px;"></h5>
    }
}

@if (ViewBag.AllMessages == null || ViewBag.AllMessages.Count == 0) {<h5> No Current Messages</h5>}
<form action="/messages/@ViewBag.otherUser.Id" method="post">
  <input type="text" name="content" id="messageContent" required>
  <input id="submit_button" type="submit" value="Send">
</form>