@model acebook.Models.Post

<h1>Post Details</h1>
<div>
    <p>ID: @Model.Id</p>
    <p>Content: @Model.Content</p>
    <p>Time: @Model.Time</p>
    <form action="@Model.Id/like" method="post">
        
        <input id="submit_button" type="submit" value="Likes: @Model.Likes"/>
    </form>
</div>

<h2 id="title">Comments</h2>

@foreach (Post comment in ViewBag.Comments)
{
    <div>
        <p id="comments">@comment.Content</p>
        <form action="@comment.Id/like" method="post">
            <input id="submit_button" type="submit" value="Likes: @comment.Likes"/>
        </form>
    </div>
}





<h3>Add new comment</h3>

<form action="/posts/comment?postParentId=@Model.Id" method="post">
  <input type="text" name="content"/>
  <input id="comment_button" type="submit" value="Submit"/>
</form>


<h2></h2>

